﻿@model GNBCore.Entities.Transaction

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Sku</h3>
    </div>
    <div class="panel-body">
        <span>Amount: @Model.Amount</span>
        <span>Currency: EUR</span>
    </div>
   

</div>