﻿@page
@model GNBWeb.Pages.Products.ListModel
@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="FetchSku" />

            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<hr />

<div id="totalDiv">
    Total: @Model.TransactionsData.Total
</div>

@foreach (var transaction in Model.TransactionsData.Transactions)
{
    @await Html.PartialAsync("_Transaction", transaction);
}