﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Edgar House<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:edgar.bernal@gmail.com">edgar.bernal@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:edgar.bernal@gmail.com">edgar.bernal@gmail.com</a>
</address>
