﻿@model GNBWeb.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="divMain">
    <h1>All Rates</h1>

    @foreach (var rate in Model.Rates)
    {
        @await Html.PartialAsync("_Summary", rate)
    }

    <a asp-page="/Transactions/List">View all transactions!</a>
</div>
